/* Mermaid図がはみ出た場合に横スクロールを出す */
.mermaid {
    overflow-x: auto;
    background-color: white; /* 背景を白にすると見やすい */
    padding: 10px;
    border-radius: 4px;
}

.mermaid svg {
    max-width: none !important; /* 強制縮小を解除 */
}

/* コンテンツ全体の最大幅を広げる */
.md-grid {
    max-width: 90%; /* または 1600px など具体的な数値 */
}

/* 左右のサイドバーを含めた全体幅の調整 */
.md-container {
    max-width: 100%;
}